    {% include 'header.html' %}
		<h1> Page de controle  </h1>
		{% for key,poll in polls %}
		<h2> Resultats election {{key}} </h2>
		<table class="pure-table pure-table-horizontal" >
			<thead>
			<tr> 
				<th> Candidat </th> <th> Nombre de voix </th>
			</tr>
			</thead>
			{% if poll %}
			<tbody>
			{% for eid,voix in poll %}
			<tr> 
				<td> {{peoples_byeid[eid].getName()}} {{peoples_byeid[eid].getSurname()}}</td> <td> {{voix}} </td>
			</tr>
			{% endfor %}
			</tbody>
			{% endif %}

			</table>
		{% endfor %}
	<div class="pure-g">
		<div class="pure-u-1-1">
		<p> Il y jusqu'a présent {{nb_votant}} votants<p>
		</div>
		<div class="pure-u-1-1">
			<h2> Listes des votants </h2>
		<table class="pure-table pure-table-horizontal" >
			{% for people in peoples %}
			<tr> 
				<td> {{people.eid}} </td>
                <td {% if people.getVoted() %}class="voted" {% endif %} > {{people.getName()}} {{people.getSurname()}}</td><td>{{people.getEmail()}} </td>
                <td> {{people.getCode()}}</td>
                <td> <a class="pure-button" href="{{url_for("mail",id=people.eid)}}">envoyer mail</a></td>
			</tr>

			{% endfor %}
		</table>
		</div>
	</div>
{% include 'footer.html' %}
