{% include 'header.html' %}
        <div class="content">
		<h1> Selectionez les candidats:   </h1>
                    <form class="pure-form pure-form-aligned" method="POST" action="{{action}}",>
                    {% for poll in polls %}
                        <div class="pure-control-group">
                        <label for="{{poll.getName()}}"><h3>{{poll.getName()}}</h3></label>
                        <select class="chosen-select" multiple name="{{poll.getName()}}">
                            {% for user in users.values() %}
                                <option value="{{user.eid}} ">{{user.getName()}} {{user.getSurname()}} </option>
                            {% endfor %}
                        </select>
                        </div>
                    {% endfor %}
                    <div class="pure-control-group">
                        <input type="text" name="user" value="{{passcode}}" hidden/>
                        <input class="pure-button pure-button-primary"  type="submit"/>
                    </div>
                    </form>
        </div>
        <script
              src="https://code.jquery.com/jquery-2.2.2.min.js"
                          integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="
                                      crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.min.js"></script>
        <script type="application/javascript">
            $(".chosen-select").chosen();
        </script>

{% include 'footer.html' %}
